
.body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F3F2EC;
}
.loginForm{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1vw;
    
    width: 200px;
    background-color: #d6d3c1;
}
.textdiv{
    width: 40%;
}

.showMessage{
    background-color: red;
    display: block;
}